/* Header.css */

.header {
  background: #f2f2f2;
  color: var(--primary-color);
  padding: 2rem 0;
  box-shadow: var(--shadow-md);
  /* position: sticky; */
  top: 0;
  z-index: 1000;
}

.header-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}

.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
  text-align: left;
}

.header-title {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  flex: 1;
  text-align: right;
}

@media (max-width: 1024px) {
  .header-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .header-title {
    text-align: center;
    font-size: 1.5rem;
  }

  .logo {
    text-align: center;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .header-title {
    font-size: 1.25rem;
  }

  .logo {
    height: 45px;
  }

  .header {
    padding: 1.5rem 0;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 1.1rem;
  }

  .logo {
    height: 40px;
  }
}
